<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上衣</title>
</head>
{% extends 'index.html' %}
{% block content %}
<body>
<ul>
    <li>
        <a href="">
            <img src="">
            <div></div>
            <div></div>
        </a>
    </li>
    <li>
        <a href=""><img src=""><div></div><div></div></a></li>
    <li>
        <a href="">
            <img src="">
            <div></div>
            <div></div>
        </a>
    </li>
    <li>
        <a href="">
            <img src="">
            <div></div>
            <div></div>
        </a>
    </li>
</ul>
</body>
</html>
{% endblock %}